[Unit]
Description=SoapyRemote network server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/steve/Desktop/SDR/Pluto/staging/bin/SoapySDRServer --bind
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
